body {
    background: url(../images/all_bg.png) no-repeat center bottom / cover fixed;
    background-color: var(--mygreen);
}

/* content */
#article-detail-main {
    padding: 48px 24px;
}

.article-detail-box {
    width: 100%;
    background-color: var(--mybeige);
    padding: 24px 16px;
    border: 2px solid var(--mydarkgreen);
    border-radius: 20px;
    box-shadow: var(--box-shadow);
}

@media screen and (min-width: 570px) {
    .article-detail-box {
        /* width: 100%; */
        margin-bottom: 48px;
    }
}

.article-detail-box .title {
    display: flex;
    flex-direction: column;
    margin-bottom: 32px;
    color: var(--mydarkgreen);
}

@media screen and (min-width: 570px) {
    .article-detail-box .title {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}

#article-detail-main .main-img {
    width: 100%;
    margin: 24px 0;
}

#article-detail-main .title h1 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    margin-bottom: 16px;
}

#article-detail-main .title .date {
    margin-bottom: 16px;
}

#article-detail-main i {
    font-size: 1.8rem;
    color: var(--myblack);
}

#article-detail-main .txt .img {
    width: 100%;
    aspect-ratio: 4/3 ;
    object-fit: cover;
    float: left;
    border-radius: 10px;
    overflow: hidden;
    margin: 32px 0;
}

/* message */
#message {
    padding: 0 24px;
    margin-bottom: 48px;
}

#message .message-box {
    width: 100%;
    background-color: var(--mybeige);
    padding: 36px 16px;
    border: 2px solid var(--mydarkgreen);
    border-radius: 20px;
    box-shadow: var(--box-shadow);
}

#message .content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#message .title {
    border-bottom: 2px solid var(--myblack);
    margin-bottom: 24px;
}

#message h2 {
    margin-bottom: 24px;
}

#message-board {
    width: 100%;
    height: 220px;
    margin-bottom: 32px;
}

#message .author-img {
    width: 100px;
    height: 100px;
    margin-bottom: 32px;
}

#message .author-img img {
    width: 100%;
}

.button-box {
    width: 100%;
    display: flex;
    justify-content: center;
}

.textareabox {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

#message .editDetail {
    width: 100%;
    height: 200px;
    background-color:var(--mylightbeige);
    border: 2px solid var(--myblack);
    border-radius: 10px;
    padding: 24px;
}

#message button {
    padding: 8px 32px;
    color: var(--mybeige);
    background-color: var(--mydarkgreen);
    border: 2px solid var(--myblack);
    border-radius: 10px;
    box-shadow: var(--box-shadow);
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 12px 0;
    border-top: 2px solid var(--myblack);
    background-color: var(--mydarkgreen);
    color: var(--mybeige);
}
