/* nav-left */
.pc-nav-left {
    width: 120px;
    margin-left: 50px;
    margin-top: 32px;
    display: flex;
    position: fixed;
    /* justify-content: space-between; */
    align-items: center;
    -webkit-tap-highlight-color: var(--mydarkgreen);
    z-index: 9999;
}

.pc-nav-left img {
    width: 100%;
}

/* nav-right */
.pc-nav-right {
    width: 150px;
    margin-right: 30px;
    margin-top: 32px;
    border-radius: 100px;
    border: 2px solid var(--mybeige);
    background-color: var(--mydarkgreen);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    right: 0;
    -webkit-tap-highlight-color: var(--mydarkgreen);
    z-index: 9999;
}

.pc-nav-right ul {
    width: 100%;
}

.pc-nav-right li {
    width: 100%;
    border-bottom: 2px dashed var(--mybeige);
}

.pc-nav-right li:hover {
    background-color: var(--mybeige);
}

.pc-nav-right li a {
    padding: 15px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--mybeige);
    text-decoration: none;
}

.pc-nav-right li a:hover {
    color: var(--mydarkgreen);
}

.pc-nav-right li:nth-child(1) a {
    padding: 35px 0 15px 0;
}

.nav-right-icon {
    margin-top: 16px;
    justify-content: center;
}

.nav-right-icon i {
    color: var(--mybeige);
}

.nav-right-icon .cart-icon {
    margin-right: 32px;
}

