body {
    width: 100%;
    background: url(../images/all_bg.png) no-repeat var(--mylightgreen);
    background-size: auto 100vh;
    background-attachment: fixed;
}

/* nav */
.page {
    width: 100%;
    height: 100vh;
    font-weight: 500;
    letter-spacing: 0.03em;
}

header {
    display: flex;
    position: fixed;
    width: 100%;
    height: 70px;
    background: var(--mydarkgreen);
    border-bottom: 4px solid var(--myblack);
    justify-content: start;
    align-items: center;
    -webkit-tap-highlight-color: var(--mydarkgreen);
}

#recipe-detail-nav .logo-img {
    padding: 12px;
}

#nav-container {
    position: fixed;
    height: 100vh;
    width: 100%;
    pointer-events: none;
}

/* #nav-container .bg {
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    height: calc(100% - 70px);
    visibility: hidden;
    opacity: 0;
    transition: 0.3s;
    background: var(--myblack);
} */

#nav-container:focus-within .bg {
    visibility: visible;
    opacity: 0.6;
}

#nav-container * {
    visibility: visible;
}

#nav-container .btn-box {
    width: 100%;
    display: flex;
    justify-content: end;
    padding: 0 12px;
}

.button {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 1;
    -webkit-appearance: none;
    border: 0;
    background: transparent;
    border-radius: 0;
    height: 70px;
    width: 30px;
    cursor: pointer;
    pointer-events: auto;
    margin-left: 25px;
    touch-action: manipulation;
    -webkit-tap-highlight-color: var(--myblack);
}
.icon-bar {
    display: block;
    border-radius: 5px;
    width: 100%;
    height: 3px;
    background: var(--mybeige);
    transition: 0.3s;
}
.icon-bar + .icon-bar {
    margin-top: 5px;
}

#nav-container:focus-within .button {
    pointer-events: none;
}
#nav-container:focus-within .icon-bar:nth-of-type(1) {
    transform: translate3d(0, 8px, 0) rotate(45deg);
}
#nav-container:focus-within .icon-bar:nth-of-type(2) {
    opacity: 0;
}
#nav-container:focus-within .icon-bar:nth-of-type(3) {
    transform: translate3d(0, -8px, 0) rotate(-45deg);
}

/* 設定nav content */
#nav-content {
    margin-top: 70px;
    padding: 20px;
    width: 90%;
    max-width: 300px;
    position: absolute;
    top: 0;
    left: 0;
    height: calc(100% - 70px);
    background: var(--mydarkgreen);
    pointer-events: auto;
    -webkit-tap-highlight-color: var(--mydarkgreen);
    transform: translateX(calc(-100% - 4px));
    transition: transform 0.3s;
    will-change: transform;
    contain: paint;
    /* border-right: 4px solid var(--myblack); */
}

#nav-content ul {
    height: 100%;
    display: flex;
    flex-direction: column;
}

#nav-content li a {
    padding: 10px 5px;
    color: var(--mybeige);
    display: block;
    text-transform: uppercase;
    transition: color 0.1s;
}

#nav-content li a:hover {
    color: var(--myorange);
}

#nav-content li:not(.small) + .small {
    margin-top: auto;
}

.small {
    display: flex;
    align-self: center;
}

.small a {
    font-size: 1rem;
    font-weight: 500;
    color: var(--mybeige);
}
.small a + a {
    margin-left: 15px;
}

#nav-container:focus-within #nav-content {
    transform: none;
}

/* content */
#recipe-detail-content {
    padding: 48px 24px;
}

.recipe-detail-main {
    width: 100%;
    background-color: var(--mybeige);
    padding: 24px 16px;
    border: 2px solid var(--mydarkgreen);
    border-radius: 20px;
    box-shadow: var(--box-shadow);
    margin-bottom: 48px;
}

#recipe-detail-content .main-img {
    width: 100%;
    margin: 24px 0;
}

#recipe-detail-content img {
    width: 100%;
    border-radius: 10px;
}

#recipe-detail-content .title h1 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    margin-bottom: 32px;
}

#recipe-detail-content i {
    font-size: 1.8rem;
}

#recipe-detail-content .author {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 24px;
}

#recipe-detail-content .author-img {
    width: 100px;
    height: 100px;
    margin-right: 16px;
}

/* 食譜 食材  */
.recipe-detail-ingredients {
    margin-bottom: 48px;
}

.ingredients-box {
    width: 100%;
    background-color: var(--mybeige);
    padding: 36px 16px;
    border: 2px solid var(--mydarkgreen);
    border-radius: 20px;
    box-shadow: var(--box-shadow);
}

.quantity,
.time {
    padding: 13px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid var(--myblack);
}

.ingredients-group .title {
    padding: 24px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ingredients {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.ingredients:last-child {
    margin-bottom: 0;
}

/* step */
.step-box {
    width: 100%;
    background-color: var(--mybeige);
    padding: 36px 16px;
    border: 2px solid var(--mydarkgreen);
    border-radius: 20px;
    box-shadow: var(--box-shadow);
}

.step {
    border-bottom: 1px solid var(--myblack);
    margin-bottom: 24px;
}

.step-img {
    border-radius: 10px;
    margin-bottom: 24px;
}

.step-txt {
    margin-bottom: 24px;
}

/* message */
#message {
    padding: 0 24px;
    margin-bottom: 48px;
}

#message .message-box {
    width: 100%;
    background-color: var(--mybeige);
    padding: 36px 16px;
    border: 2px solid var(--mydarkgreen);
    border-radius: 20px;
    box-shadow: var(--box-shadow);
}

#message .content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#message .title {
    border-bottom: 2px solid var(--myblack);
    margin-bottom: 24px;
}

#message h2 {
    margin-bottom: 24px;
}

#message-board {
    width: 100%;
    height: 220px;
    margin-bottom: 32px;
}

#message .author-img {
    width: 100px;
    height: 100px;
    margin-bottom: 32px;
}

#message .author-img img {
    width: 100%;
}

.button-box {
    width: 100%;
    display: flex;
    justify-content: center;
}

#message button {
    padding: 8px 32px;
    color: var(--mybeige);
    background-color: var(--mydarkgreen);
    border: 2px solid var(--myblack);
    border-radius: 10px;
    box-shadow: var(--box-shadow);
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 12px 0;
    border-top: 2px solid var(--myblack);
    background-color: var(--mydarkgreen);
    color: var(--mybeige);
}
