body {
    width: 100%;
    background: url(../images/all_bg.png) no-repeat var(--mylightgreen);
    background-size: auto 100vh;
    background-attachment: fixed;
}


/* nav */

#recipe-detail-content {
    padding: 48px 24px;
}

.recipe-detail-main {
    width: 100%;
    background-color: var(--mybeige);
    padding: 24px 16px;
    border: 2px solid var(--mydarkgreen);
    border-radius: 20px;
    box-shadow: var(--box-shadow);
    margin-bottom: 48px;
}

#recipe-detail-content .main-img {
    width: 100%;
    margin: 24px 0;
}

#recipe-detail-content img {
    width: 100%;
    border-radius: 10px;

}

#recipe-detail-content .title h1 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    margin-bottom: 32px;
}

#recipe-detail-content i {
    font-size: 1.8rem;
}

#recipe-detail-content .author  {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 24px;
}

#recipe-detail-content .author-img {
    width: 100px;
    height: 100px;
    margin-right: 16px;
}

/* 食譜 食材  */
.ingredients-box {
    width: 100%;
    background-color: var(--mybeige);
    padding: 36px 16px;
    border: 2px solid var(--mydarkgreen);
    border-radius: 20px;
    box-shadow: var(--box-shadow);
}

.quantity, .time {
    padding: 13px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid var(--myblack);
}

.ingredients-group .title {
    padding: 24px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ingredients {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.ingredients:last-child {
    margin-bottom: 0;
}

