
        * {
            font-family: 'Noto Sans TC', sans-serif;
        }

        body {
            background: url(../images/all_bg.png) no-repeat center center / cover fixed;
            background-color: #6DD0CD;
        }

        .pc_header_wrap {
            height: 0px;
        }

        .pc_header {
            z-index: 9999;
            position: sticky;
            top: 32px;
            height: 0px;
        }

        .nav_left img {
            width: 120px;
        }

        .nav_right {
            width: 150px;
            height: 400px;
            border-radius: 100px;
            border: 2px solid #FFF6E9;
            background-color: #005F5F;
            overflow: hidden;
        }

        .nav_right ul {
            padding: 0px;
            margin: 0px;
            height: 400px;
        }

        .nav_right li {
            list-style-type: none;
            color: #FFF6E9;
            text-align: center;
            padding: 15px 0px;
            transition: .5s;
            border-bottom: 2px dashed #FFF6E9;
            font-size: 1.25rem;
            font-weight: 500;
        }

        .nav_right .li_top {
            padding-top: 30px;
        }

        .nav_right li:hover {
            color: #005F5F;
            background-color: #FFF6E9;
        }

        .nav_right a:hover {
            text-decoration: none;
        }

        .nav_right .icon a {
            color: #FFF6E9;
            transition: .5s;
        }

        .nav_right .icon a:hover {
            transform: scale(1.2);
        }

        .member_recipe_wrap {
            min-height: calc(100vh - 46px);
        }

        .member_recipe_innerwrap {
            margin: 48px 0px;
        }

        .member_menu_wrap img {
            width: 150px;
        }

        .member_menu_wrap h3 {
            font-size: 1.25rem;
            font-weight: 500;
            color: #005F5F;
            text-align: center;
            margin: 48px 0px;
            width: 100%;
        }

        .member_menu_wrap .member_menu {
            background-color: #FFF6E9;
            border: 2px solid #333333;
            border-radius: 20px;
            box-shadow: 3px 3px #333333;
            overflow: hidden;
            margin-bottom: 48px;
            height: 88px;
        }

        .member_menu_wrap .member_menu a {
            text-decoration: none;
        }

        .member_menu_wrap .member_menu h3 {
            font-size: 1.25rem;
            font-weight: 500;
            color: #333333;
            text-align: center;
            padding: 32px 0px;
            margin: 0px;
            border-right: 1px solid #333333;
            line-height: 1.6rem;
        }

        .member_menu_wrap .member_menu .collection {
            border: none;
            background-color: #005F5F;
            color: #FFF6E9;
        }

        @media screen and (min-width:768px) {
            .member_menu_innrwrap {
            position: sticky;
            top: 32px;
            z-index: 999;
        }

            .member_menu_wrap .member_menu {
                margin-bottom: 48px;
                height: auto;
            }

            .member_menu_wrap .member_menu h3 {
                border-bottom: 1px solid #333333;
            }
        }

        .collection_list{
            margin-bottom: 48px;
        }

        .collection_list a{
            text-decoration: none;
        }

        .collection_list h1{
            font-size: 1rem;
            font-weight: 500;
            color: #005F5F;
            padding: 6px;
            background-color: #FFF6E9;
            border: 2px solid #333333;
            border-radius: 10px;
            box-shadow: 3px 3px #333333;
            transition: .3s;
        }

        .collection_list h1:hover{
            box-shadow:none;
            transform: translate(3px ,3px);
        }

        .collection_list .l_solarterms{
            color: #FFF6E9;
            background-color: #005F5F;
        }

        @media screen and (min-width:768px) {
        .collection_list h1{
            font-size: 1.9rem;
            font-weight: 700;
            padding: 12px 30px;
        }

        .collection_list a{
            margin-right: 19px;
        }

        .collection_list a:last-child{
            margin-right: 0px;
        }
        }

        .member_recipe_card {
            border-radius: 20px;
            border: 2px solid #333333;
            background-color: #FFF6E9;
            box-shadow: 3px 3px #333333;
            padding: 16px;
            margin-bottom: 48px;
        }

        .recipe_pic {
            margin-bottom: 32px;
        }

        .recipe_pic img {
            aspect-ratio: 4 / 3;
            border-radius: 20px;
            width: 100%;
        }

        .recipe_content .tittle h2 {
            font-size: 1.5rem;
            margin-bottom: 0px;
            color: #333333;
            font-weight: 700;
        }

        .recipe_content .right .fa-clock,
        .mobile_recipe_time .fa-clock {
            color: #005F5F;
            font-size: 1.5rem;
        }

        .mobile_recipe_time {
            margin-bottom: 16px;
        }

        .recipe_content .right p,
        .mobile_recipe_time p {
            color: #005F5F;
            font-size: 1rem;
            font-weight: 500;
        }

        .fa-bookmark {
            color: #005F5F;
            font-size: 2rem;
            cursor: pointer;
        }

        .member_recipe_card .author p {
            font-size: 0.9rem;
            color: #808080;
            font-weight: 500;
        }

        .member_recipe_card .describe h3 {
            font-size: 1rem;
            line-height: 1.6;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
            overflow: hidden;
            color: #333333;
            font-weight: 500;
        }

        .member_recipe_card .describe h4 {
            font-size: 0.9rem;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
            color: #808080;
            font-weight: 500;
            margin-bottom: 16px;
        }

        .member_recipe_card .btn{
            width: 100%;
            background-color: #005F5F;
            border-radius: 8px;
            border: 2px solid #333333;
            box-shadow: 3px 3px #333333;
            text-decoration: none;
            transition: .3s;
        }

        .member_recipe_card .btn a {
            color: #FFF6E9;
            font-size: 0.9rem;
            font-weight: 500;
            padding: 8px 35px;
            text-decoration: none;
        }

        .member_recipe_card .btn:hover {
            box-shadow: none;
            transform: translate(3px, 3px);
        }

        @media screen and (min-width:768px) {
            .member_recipe_card {
                padding: 24px;
            }

            .recipe_pic {
                padding-right: 24px;
                margin-bottom: 0px;
            }

            .recipe_pic img {
                aspect-ratio: 4 / 3;
                width: 387px;
                border-radius: 20px;
            }

            .member_recipe_card .describe h3 {
                font-size: 1.25rem;
            }

            .member_recipe_card .describe h4 {
                font-size: 1rem;
                margin-bottom: 0px;
                -webkit-line-clamp: 1;
            }

            .member_recipe_card .author p {
                margin-bottom: 0px;
            }

            .mobile_recipe_time {
                margin-bottom: 0px;
            }

            .member_recipe_card .btn{
                width: fit-content;
            }

            .member_recipe_card .btn a {
                padding: 8px 35px;
                width: auto;
            }
        }

        .page-link {
            background-color: #005F5F;
            border: none;
            color: #FFF6E9;
            transition: .3s;
            font-size: 1.25rem;
            font-weight: 700;
            line-height: 1.4;
        }

        span {
            font-size: 1.25rem;
        }

        .page-link:hover {
            background-color: #FFF6E9;
            color: #005F5F;
        }

        .page-item:first-child .page-link {
            border-radius: 8px 0px 0px 8px;
        }

        .page-item:last-child .page-link {
            border-radius: 0px 8px 8px 0px;
        }

        footer {
            background-color: #005F5F;
            box-shadow: 0px -3px 0px #333333;
            height: 50px;
        }

        footer p {
            color: #FFF6E9;
            font-size: 1rem;
            margin-bottom: 0px;
            text-align: center;
            font-weight: 500;
            line-height: 50px;
        }