body {
    background: url(../images/all_bg.png) no-repeat center bottom / cover fixed;
    background-color: var(--mygreen);
}

/* write-recipes */
#write-recipes {
    padding: 48px 24px;
}

.write-recipes {
    width: 100%;
    background-color: var(--mybeige);
    border-radius: 10px;
    border: 2px solid var(--myblack);
    box-shadow: var(--box-shadow);
    padding: 16px;
}

@media screen and (min-width: 570px) {
    .write-recipes {
        padding: 48px 24px;
    }
}

.write-recipes .text-title-box {
    flex-direction: column;
    display: flex;
    align-items: flex-end;
    margin-bottom: 24px;
}

@media screen and (min-width: 570px) {
    .write-recipes .text-title-box {
        margin-bottom: 48px;
    }
}

.write-recipes .text-title-textarea {
    width: 100%;
    height: 80px;
    padding: 12px;
    background-color: var(--mylightbeige);
    border: 2px solid var(--myblack);
    border-radius: 8px;
    resize: none;
}

/* veggie-Category */
.veggie-Category {
    display: flex;
    margin-bottom: 24px;
}

@media screen and (min-width: 570px) {
    .veggie-Category {
        display: flex;
        margin-bottom: 48px;
    }
}

.veggie-Category h2 {
    margin-right: 30px;
}

/* Dropdown */
.custom-select {
    position: relative;
    width: 140px;
}

@media screen and (min-width: 570px) {
    .custom-select {
        width: 165px;
    }
    
}

.custom-select select {
    /*hide original SELECT element:*/
    display: none;
}

.select-selected {
    background-color: var(--mybeige);
    border: 2px solid var(--myblack);
    border-radius: 8px;
    color: var(--mydarkgreen);
}

.select-selected::after {
    position: absolute;
    content: "";
    top: 14px;
    right: 10px;
    width: 0;
    height: 0;
    border: 8px solid transparent;
    border-color: var(--mydarkgreen) transparent transparent transparent;
}

.select-selected.select-arrow-active::after {
    border-color: transparent transparent var(--mydarkgreen) transparent;
    top: 8px;
}

.select-items div {
    color: var(--mydarkgreen);
    padding: 8px 16px;
    /* border: 2px solid var(--myblack); */
    cursor: pointer;
    user-select: none;
}

.select-selected {
    color: var(--mydarkgreen);
    padding: 8px 16px;
    border: 2px solid var(--myblack);
    cursor: pointer;
    user-select: none;
}

/*style items*/
.select-items {
    position: absolute;
    background-color: var(--mybeige);
    border: 2px solid var(--myblack);
    border-radius: 8px;
    margin-top: 8px;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
}

.select-hide {
    display: none;
}

.select-items div:hover {
    background-color: var(--mydarkgreen);
    color: var(--mybeige);
}

/* 改變滾動條的樣式 */
.dropdown-list::-webkit-scrollbar {
    width: 8px;
}

.dropdown-list::-webkit-scrollbar-button {
    background: transparent;
    border-radius: 4px;
}

.dropdown-list::-webkit-scrollbar-track-piece {
    background: transparent;
}

.dropdown-list::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: var(--mydarkgreen);
}

.dropdown-list::-webkit-scrollbar-track {
    box-shadow: transp arent;
}

/* 上傳圖片 */
.upload .image-preview-wrapper {
    display: block;
    max-width: 310px;
    max-height: 310px;
    width: 100%;
    border: 2px solid var(--myblack);
    border-radius: 10px;
    overflow: hidden;
    margin: 0 auto;
    position: relative;
    cursor: pointer;
}
.upload .spinner-wrapper {
    opacity: 0;
    margin: 0;
    padding: 0;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.opacity-1 {
    opacity: 1;
}

/* introduction 簡介 */
.introduction-box {
    margin-bottom: 24px;
}

@media screen and (min-width: 570px) {
    .introduction-box {
        margin-bottom: 48px;
    }
}

@media screen and (min-width: 570px) {
    .textarea-box {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
}

.introduction h2 {
    margin-bottom: 16px;
}

.introduction .text-title-box {
    flex-direction: column;
    display: flex;
    align-items: flex-end;
    margin-bottom: 24px;
}

.text-introduction {
    width: 100%;
    height: 290px;
    padding: 12px;
    background-color: var(--mylightbeige);
    border: 2px solid var(--myblack);
    border-radius: 8px;
    resize: none;
}

/* ingredients */
.ingredients {
    margin-bottom: 24px;
}

@media screen and (min-width: 570px) {
    .serving-time {
        /* margin-bottom: 24px; */
        display: flex;
        margin-bottom: 48px;
    }
}

.ingredients .serving-size {
    display: flex;
    align-items: center;
    margin-bottom: 24px;
}

@media screen and (min-width: 570px) {
    .ingredients .serving-size {
        display: flex;
        align-items: center;
        margin-bottom: 0;
        margin-right: 48px;
    }
}

.ingredients .serving-size h4 {
    margin-right: 24px;
}

@media screen and (min-width: 570px) {
    .ingredients .serving-size h4 {
        margin-right: 48px;
    }
}

.ingredients .time {
    display: flex;
    align-items: center;
    margin-bottom: 24px;
}

@media screen and (min-width: 570px) {
    .ingredients .time {
        display: flex;
        align-items: center;
        margin-bottom: 0;
    }
}

.ingredients .time h4 {
    margin-right: 24px;
}

@media screen and (min-width: 570px) {
    .ingredients .time h4 {
        margin-right: 48px;
    }
}

/* addIngredients */
.addIngredients h2 {
    margin-bottom: 24px;
}

.text-addIngredients {
    width: 100%;
    height: 48px;
    padding: 12px;
    background-color: var(--mylightbeige);
    border: 2px solid var(--myblack);
    border-radius: 8px;
    resize: none;
}

@media screen and (min-width: 570px) {
    .text-addIngredients {
        width: 100%;
        height: 48px;
        padding: 12px;
        background-color: var(--mylightbeige);
        border: 2px solid var(--myblack);
        border-radius: 8px;
    }

    teztarea {
        text-align: center;
    }
}

.allDetail-box {
    margin-bottom: 24px;
}

@media screen and (min-width: 570px) {
    .allDetail-box {
        margin-bottom: 48px;
    }
}

.detail-box {
    margin-right: 12px;
}

.del-introduction {
    width: 100%;
    height: 100%;
    border: 0;
    padding: 0;
    background-color: rgba(255, 255, 255, 0);
}

.ingredients .addbtn {
    width: 100%;
}

/* step */
.step .title {
    margin-bottom: 22px;
}

.step .header {
    height: 38px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 14px;
}

.step button {
    border: 0;
    background-color: rgba(255, 255, 255, 0);
}

.step .textarea-box {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.step .step-textarea {
    width: 100%;
    height: 200px;
    padding: 12px;
    background-color: var(--mylightbeige);
    border: 2px solid var(--myblack);
    border-radius: 8px;
}

.step .addbtn {
    width: 100%;
}

.addbtn h3 {
    margin: 20px 0;
}

/* postcancel  發布取消按鈕*/
#postcancel {
    margin-bottom: 48px;
}

@media screen and (min-width: 570px) {
    #postcancel {
        margin-top: 48px;
        margin-bottom: 0;
        margin-right: auto;
    }
}

.postcancel-box {
    display: flex;
    justify-content: center;
}

@media screen and (min-width: 570px) {
    .postcancel-box {
        margin-left: auto;
        position: fixed;
    }
}

#postcancel h2 {
    padding: 12px 30px;
}

@media screen and (min-width: 570px) {
    #postcancel h2 {
        padding: 45px 50px;
    }
}

#postcancel .lightbutton {
    margin-right: 48px;
}

@media screen and (min-width: 570px) {
    .postcancel-box {
        width: 150px;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        border: 2px solid var(--myblack);
        border-radius: 20px;
        box-shadow: var(--box-shadow);
    }

    /* 把原本btn設定定清空 */
    /* start */
    #postcancel .lightbutton,
    #postcancel .darkbutton {
        width: 150px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 0;
        letter-spacing: 0;
        box-shadow: none;
        border: none;
    }

    #postcancel .lightbutton::after,
    #postcancel .lightbutton::before,
    #postcancel .darkbutton::after,
    #postcancel .darkbutton::before {
        transition: none;
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        width: 0;
        height: 0;
        background-color: rgba(240, 248, 255, 0);
        transform: none;
        z-index: 0;
    }
    /* end */

    #postcancel .lightbutton {
        margin-right: 0;
        order: 1;
    }
}

footer {
    align-self: end;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 12px 0;
    border-top: 2px solid var(--myblack);
    background-color: var(--mydarkgreen);
    color: var(--mybeige);
}
